@import "styles/reset";
@import "styles/fonts";

* {
  font-family: "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

#root {
  height: 100%;
}

.async-hide {
  opacity: 0 !important;
}
