.settings {
  width: 100%;
  max-width: 600px;
  height: 100%;

  padding: 16px;
  border-right: 1px solid rgba(255, 255, 255, 0.15);

  &__title {
    margin-bottom: 24px;

    color: #ffffff;
    text-align: center;
  }

  label {
    color: #ffffff;

    input {
      margin-left: 16px;
    }
  }

  input {
    margin-right: 16px;

    padding: 8px;
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 5px;
    background-color: transparent;

    color: #fff;
  }

  .settings__atributes-container {
    height: 100%;
    max-height: 248px;

    overflow-y: auto;
  }

  .settings__atributes-title {
    margin: 36px 0 18px;

    color: #ffffff;
  }

  .setting__btn-submit {
    margin: 32px auto;
  }
}
